@charset "u tf8";
/*CSS Document*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: whitesmoke;
    font-family: "Montserrat";
}
h1 {
    color: whitesmoke;
    font-size: 50px;
    font-family: "Playfair Display", serif;
    padding-left: 50px;
}
#cabecera{
    background-color: #3B67BE;
    width: 100%;
    height: 100px;
    padding-top: 10px;
}
.botonera {
    width: 100%;
    height: 100px;
    padding-top: 10%;
    background-color: #3B67BE;
    font-family: "Montserrat", sans-serif;
}
.botonera a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 100px;
}
.botonera a:hover {
    color: #3B67BE;
    background-color: #ffffff;
}
.botonera a:active {
    background-color: beige;
    color: black;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline;
    padding: 10px 20px;
}


footer {
    background: #3B67BE;
    text-align: center;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
