@charset "u tf8";
/*CSS Document*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin:0px;
    padding:0px;
    border: 0px;
    font-family: "Montserrat";
}

body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgb(33, 43, 77);
    font-size: 60px;
    font-family: "Monsterrat", serif;
}
h2{
    color: #3B67BE;
    font-size: 40px;
    font-family: "Montserrat";
}
h3{
    color: #ffffff;
    font-size: 20px;
    
}

h4{
    color: #ffffff;
    font-size: 15px;}


p{
    font-size: 20px;
}

a {
    text-decoration: none;
    }

/*BOTONERA*/

.botonera {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #3B67BE;
    padding: 33px 110px;
}

.botonera a {
    text-decoration: none;
    color: #ffffff;
    border-radius: 15px;
    padding: 10px 20px;

}
.botonera a:hover {
    background-color: #a1bffc;
    height: 10px;
}

.logo {
    margin-left: 30px;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline;
    padding: 10px 20px;
}

/*BANNER*/

#banner{
    background-image: url("img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 475px;
    width: 100%;
    background-color: #0D1825;
    padding: 76px 0px;
}

/*SOBRE MI*/

.fotoperfil {
    border-radius: 50px;
}
.sobremi {
    padding: 50px;
}
.contenedor-sobremi {
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 274px;
    height: 708px;
    background-image: url(img/fondo-sobre-mi.png)
}

.columnaizq-sobremi {
    padding: 20px;
    width: 500px;
}

.boton-formulario {
    font-family: 'Monsterrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    background-color: #3B67BE;
    color: #FFFFFF;
    width: 300px;
    height: 76px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 38px;

}


.columnader-sobremi {
    display: flex;
    flex-direction: column;
    padding-right: 300px;

}

.subtitulo {
    padding-top: 15px;
    height: 10%;
}

/*INFORMACION*/
.info {
    display: flex;
    padding: 100px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: white;
}

.contenedor-experiencia {
    display: flex;
    padding: 100px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}


/*GALERIA*/

.titulo-galeria {
    color: var(--Black, #2D2D2D);
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px; /* 131.25% */
}

.estructura-galeria {
    display:grid;
    justify-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.grid-imagenes {
    display: grid;
    grid-template: auto / repeat(3,1fr);
    gap: 5%;
    width: 1080px;
    height: 874px;
}

.grid-imagenes h3 {
    color: var(--Black, #2D2D2D);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
}

.grid-imagenes p {
    color: var(--Black, #2D2D2D);
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 158.824% */
}

.grid-imagenes ul {
    list-style: none;
}

/*GALERIA INDIVIDUAL*/

.flecha-back {
    display: flex;
    padding: 21px 38px;
    gap: 10px;
    margin-right: 80%;
}

#body-galeria {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5ece3;
}

.info-galeria{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer-galeria {
    margin-top: auto;
}

.img-galeria:hover {
    transform: scale(1.1);
    transition: 1s;
}

p.subtitulo-galeria {
    font-size: 20px;
    color: black;
    width: 400px;
    margin-bottom: 200px;
}


/*ASIDE*/
.aside-redes {
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background-color: black; 
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 70;
}

.aside-redes a {
	margin-top: 5px;
}

.icon {
	width: 23px;
	height: 23px;
}

/*FOOTER*/

footer {
    background: #000000;
    color: white;
    text-align: center;
    height: 108px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Monsterrat', sans-serif;
}



.redes{
    display: flex;
    justify-content: space-between;
    width: 80px;
    border-radius: 20px;
}

/*PORTADA INDEX*/
.portada {
    display: flex;
    width: 1920px;
    height: 1080px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: #3B67BE;
    background-image: url(img/portada-inicio.png)
}

.portada-div h1 {
    font-family: Montserrat;
    font-size: 180px;
    font-style: italic;
    font-weight: 400;
    line-height: 148px;
    color: var(--white, #FFF);
    text-align: center;
}

.portada-div h2 {
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    color: var(--white, #FFF);
    text-align: center;
}

.portada-div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 60px;
}

.boton-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 15px;
    gap: 60px;
    border-radius: 24px;
    background: var(--white, #FFF);
}


.slider {
    width: 100%;
    height: auto;
    margin: auto;
    gap: 60px;
    overflow: hidden;
}

.slider .slide-track {
    display:flex;
    animation:scroll 40s infinite linear;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(o);
        transform: translateX(o);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(o);
    }
}

/*iconos*/

.icons {
    animation: girar 3s infinite linear;
}

@keyframes girar {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/*FORMULARIO*/


form {
    display: flex;
    width: 554px;
    height: 454px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 23px;
    flex-shrink: 0;
    margin-bottom: 100px;
}

label {
    display: block;
    height: 25px; 
    color: var(--Azul, #3B67BE);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 15px;
}


.formulario {
    width: 100%;
    height: auto;
    padding: 20px;
}

textarea {
    border: 3px solid var(--Azul, #3B67BE);
    background: var(--white, #FFF);
    width: 554px;
    height: 217px;
    border-radius: 15px;
}

input {
    width: 554px;
    height: 56px;
    border-radius: 10px;
    border: 3px solid var(--Azul, #3B67BE);
    background: var(--white, #FFF);
    padding: 10px;
}

.boton-form{
    background-color: #3B67BE;
    color: white;
    width: 190px;
    height: 43px;
    border-radius: 50px;
}

.info-contacto{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10%;
}

.flecha {
    width: 125px;
    height: 73px;
    flex-shrink: 0;
    margin-top: 100px;
    margin-right: 1200px;
}